@import "styles/variables.module.scss";

// flex mixins
@mixin flex-center-md {
  display: flex;
  align-items: center;
  column-gap: $sp-12;
}

@mixin flex-center-sm {
  display: flex;
  align-items: center;
  column-gap: $sp-8;
}
