@import "styles/variables.module.scss";
@import "styles/mixins.scss";
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-row {
  @include flex-center-md;
  width: 100%;
  justify-content: flex-start;
  h3 {
    color: $white;
    margin-right: $sp-8;
    margin-bottom: $sp-12;
    // flex:1;
    width: fit-content;
  }
}

.top-row-extras {
  flex: 1;
  @include flex-center-md;
  justify-content: space-between;
}

.left-extras,
.right-extras,
.extras,
.top-row-actions {
  @include flex-center-md;
}

.bottom-row {
  margin-bottom: $sp-24;
}
