@import "styles/variables.module.scss";
.table {
    height:100%;
    overflow-x: auto;
    table-layout: fixed;
}

.no-data {
    height:100px;
    padding-left: $sp-md;
}

.sort-icon {
    font-size: $font-lg;
    color:$primary-500;
}

.th-content {
    display: flex;
    align-items: center;
    column-gap: $sp-base;
}

.skeleton {
    width:100%;
}